@use 'aventuras';

// Mixins e variáveis
@mixin flex-column-center {
    display: flex;
    align-items: center;
}

@mixin container-styles {
    max-width: 1024px;
    margin: 0 auto;
}

$primary-bg-color: #EDEBE5;
$primary-font: 'Shadows Into Light', cursive;
$secondary-font: cursive;
$primary-color: black;
$secondary-color: brown;

// Estilos globais
* {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @include container-styles;
}

.header, .final {
    background-color: $primary-bg-color;

    &-container {
        @include container-styles;
        @include flex-column-center;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &-overlay {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        z-index: 1;

        &__text {
            color: $primary-color;
            text-align: center;

            h1 {
                color: $secondary-color;
            }

            h2, h3 {
                font-family: $secondary-font;
            }
        }

        &__box {
            text-align: center;
            font-family: $secondary-font;

            span {
                font-family: $secondary-font;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &-image, &-texto {
        max-width: 400px;
        margin: 0 auto;

        img, p {
            width: 100%;
        }

        p {
            font-family: $secondary-font;
            font-size: 18px;
            margin-top: 8px;
        }
    }

    h1 {
        font-size: xx-large;
        text-align: center;
    }
}

// Estilos específicos para .final
.final {
    padding-top: 5vh;

    &-texto {
        margin: auto;
        text-align: center;
        width: 50%;

        @media (max-width: 768px) {
            width: 80%;
        }
    }
}
